{% extends "accounts/form_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<h2 class="title">Login</h2>


<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {{ form|crispy }}
    </fieldset>
    <div class="p-t-15">
        <button class="btn btn-primary" type="submit">Sign In</button>
    </div>
</form>

<div class="boder-top pt-3">
    <small class="text-muted">
        Not a member yet?<a class="ml-2" href="{% url 'register' %}"> Sign up</a>
        <p><a class="" href="{% url 'whatsonzambia-home' %}">Home</a></p>
    </small>
</div>
{% endblock content %}