{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
      <title>Whats on Zambia - {{ title }}</title>
    {% else %}    
      <title>Whats on Zambia</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'whatsonzambia/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'whatsonzambia/css/home.css' %}" rel="stylesheet">
  </head>

  <body>
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'whatsonzambia-home' %}">Whats On Zambia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'whatsonzambia-home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'whatsonzambia-about' %}">About</a></li>
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'post-create' %}">New Post</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    
    <div class="page-wrapper bg-gra-02 p-t-60">
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          

          <div class="row row-space">
            <div class="col-lg-6">
              <h1 class=""><small> Your Entetainment Guide</small></h1>
            </div>
            <div class="col-lg-6">

          <!-- Show filtering section-->
          <form method="POST">
            {% csrf_token %}
            <div class="card my-4">
              <h5 class="card-header">Search for Shows</h5>
              <div class="card-body">
                <div class="input-group">
                  <select name="day">
                    <option disabled="disabled" selected="selected">Event Day</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                  </select>
                  <select name="town">
                    <option disabled="disabled" selected="selected">Town/City</option>
                    <option value="Lusaka">Lusaka</option>
                    <option value="Kitwe">Kitwe</option>
                    <option value="Ndola">Ndola</option>
                  </select>
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </form>
            </div>
          </div>

          <!-- Featured Advert Starts Here -->
          <div class="card mb-4">
            {% for feature in features %}
            <img class="card-img-top" src=" {{ feature.ft_post_image.url }}" alt="Card image cap">
            <div class="card-body text-center">
              <h8 class="card-title h8"><strong>Date: </strong> {{ feature.ft_event_date }}<strong> | Time: </strong> {{ feature.ft_event_time }}</h8>
              <h6 class="card-title h6"><u><strong>{{ feature.ft_event_day }}</strong></u></h6>
              <h8 class="card-title h8"><strong>Venue: </strong> {{ feature.ft_venue }}<strong> | Town/City:</strong> {{ feature.ft_town }}</h8>
              <h6 class="card-title h6"><strong>Charges: </strong> {{ feature.ft_charge }}</h6>
              <a class="btn btn-primary" href="{% url 'feature-detail' feature.id %}">Read more →</a>
            </div>
            {% endfor %}           
          </div>
           <!-- Adverts Start Here --> 
          <div class="row">
            <div class="col-lg-6">
              {% block content %}{% endblock %}
            </div>
          </div>

          <!-- Pagination -->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Space for adverts</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">House for sale</a></li>
                    <li><a href="#">Cars for hire</a></li>
                    <li><a href="#">Cars for sale</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Special offers</a></li>
                    <li><a href="#">Food stuffs</a></li>
                    <li><a href="#">Cloths</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can advert your products and services in this section. For bookings and enquiries contact us on +260977146209 !
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Earthcom Ltd 2022</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'whatsonzambia/js/jquery.min.js' %}"></script>
    <script src="{% static 'whatsonzambia/js/bootstrap.bundle.min.js' %}"></script>

    </div>
  </body>
</html>
