{% extends "whatsonzambia/form_base.html" %}
{% load static %}
{% block content %}
  <article class="media content-section p-t-100">
    <div class="media-body">
      <div class="article-metadata">
        <div class="card mb-8">
          <a href="#!"><img class="card-img-top" src="{{ object.ft_post_image.url }}" alt="..." /></a>
          <div class="card-body text-center">
            <h6 class="card-title h6">Date: {{ object.ft_event_date }} | Time: {{ object.ft_event_time }}</h6> 
            <h5 class="card-title h5"><u>{{ object.ft_event_day }}</u></h5>
            <h6 class="card-title h6"> Venue: {{ object.ft_venue }}</h6>
            <h5 class="card-title h5"> Charges: {{ object.ft_charge }}</h5>
            <hr>
            <p class="card-text">{{ object.ft_content }}</p>
            <hr>
            <a class="btn btn-primary mt-2" href="{% url 'whatsonzambia-home' %}">Back →</a>
          </div>
        </div>
      </div>      
      <div class="card-footer text-muted">
        Posted: {{ object.date_posted }} by <a href="#">{{ object.author }}</a>
        {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'feature-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'feature-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
      </div>      
    </div>
  </article>
{% endblock content %}