{% extends "whatsonzambia/form_base.html" %}
{% load static %}
{% block content %}
<h2 class="title">New Feature Post</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row row-space">
    <div class="col-lg-6">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Event Name" name="ft_title" {% if form.is_bound %}value="{{ form.ft_title.value }}{% endif %}">
        {% for err in form.ft_title.errors %}
        <small class="text-danger ml-2">{{ err }}</small>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Venue" name="ft_venue" {% if form.is_bound %}value="{{ form.ft_venue.value }}{% endif %}">
        {% for err in form.ft_venue.errors %}
        <small class="text-danger ml-2">{{ err }}</small>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row row-space">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="form-control js-select-simple select--no-search">
          <select name="ft_town">
            <option disabled="disabled" selected="selected">Select Town/City</option>
            <option>Lusaka</option>
            <option>Ndola</option>
            <option>Kitwe</option>
          </select>
          <div class="select-dropdown"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <input class="form-control js-datepicker" type="text" placeholder="Event Date" name="ft_event_date" {% if form.is_bound %}value="{{ form.ft_event_date.value }}{% endif %}">
        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
        {% for err in form.ft_event_date.errors %}
        <small class="text-danger ml-2">{{ err }}</small>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row row-space">
    <div class="col-lg-6">
      <div class="input-group">
        <input class="form-control" type="time" placeholder="Event Time" name="ft_event_time" {% if form.is_bound %}value="{{ form.ft_event_time.value }}{% endif %}">
        {% for err in form.ft_event_time.errors %}
        <small class="text-danger ml-2">{{ err }}</small>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <div class="form-control js-select-simple select--no-search">
          <select name="ft_event_day">
            <option disabled="disabled" selected="selected">Select Event Day</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
          <div class="select-dropdown"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-space">
    <div class="col-lg-6">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Charges" name="ft_charge" {% if form.is_bound %}value="{{ form.ft_charge.value }}{% endif %}">
        {% for err in form.ft_charge.errors %}
        <small class="text-danger ml-2">{{ err }}</small>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <input type="file" class="form-control" name="ft_post_image" accept="image/*" placeholder="Unload Image">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <textarea class="form-control" type="text" placeholder="Addition Information" name="ft_content" {% if form.is_bound %}value="{{ form.ft_content.value }}{% endif %}"></textarea>                          
        {% for err in form.ft_content.errors %}
        <small class="text-danger ml-2">{{ err }}</small>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="p-t-15">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

{% endblock content %}